<meta charset="utf-8">

<script>
    console.log(window.location.search);
if (window.location.search.indexOf('?print-pdf') !== -1) {
    document.write('<link rel="stylesheet" href="{{ "/css/pdf.css"  | relURL }}" />');
    console.log("here");
} else {
    //document.write('<link rel="stylesheet" href="dark.css" />');
}
</script>
    

<title>{{ or .Page.Title .Site.Title }}</title>
{{ with $.Param "description" }}<meta name="description" content="{{ . | relURL }}">{{ end }}
{{ with .Site.Author.name }}<meta name="author" content="{{ . | relURL }}">{{ end }}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">



{{ range .Site.Params.custom_css -}}
<link rel="stylesheet" href="{{ .  | relURL}}">
{{- end }}


{{ range .Site.Params.custom_js -}}
    <script type="text/javascript" src="{{ .  | relURL}}"></script>
{{- end }}

<link rel="stylesheet" href="plugin/title-footer/title-footer.css">

