<a class="return-button" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 24; height: 24" viewBox="0 0 310 272.5">
        <symbol>
            <polygon id="hexagon" points="75 0,150 37.5,150 112.5,75 150,0 112.5,0 37.5" />
        </symbol>
        <g transform="translate(5 5)" stroke-width="2">
            <g transform="translate(0 112.5)" fill="none" stroke="#51B6A9" stroke-width="2px">
                <g transform="scale(0.9733333333333334 0.9733333333333334) translate(2 2)" fill="#505050" stroke="#505050">
                    <use href="#hexagon" />
                </g>
            </g>
            <g transform="translate(75 0)" fill="#505050" stroke="#505050">
                <use href="#hexagon" />
            </g>
            <g transform="translate(150 112.5)" fill="#505050" stroke="#505050">
                <use href="#hexagon" />
            </g>
        </g>
    </svg>
</span>