{{ $_hugo_config := `{ "version": 1 }` }}
{{$title := .Get "title"}}
{{$subtitle := .Get "sub"}}
{{ $height := .Get "height" }}
{{ $width := .Get "width" }}

{{if and (isset .Params "height") (isset .Params "width") }}
<div class="bracket" style="height: {{ $height }}px; width: {{ $width }}px">
{{ else }}
{{if (isset .Params "width")}}
<div class="bracket" style="width: {{ $width }}px">
{{ else }}
{{if (isset .Params "height")}}
<div class="bracket" style="height: {{ $height }}px">
{{else }}
<div class="bracket">
{{ end }}
{{ end }}
{{ end }}
<div class="title" style="width:50%">
<b>{{ $title | markdownify }}</b>
<small>{{ $subtitle | markdownify }}</small>
</div>
<div class="content" style="width:50%">
{{ .Inner }}
</div>
</div>