
{{$language := .Get 0}}
{{$description := .Get 1}}
{{$command := trim .Inner "\n"}}

<div class="bracket">
<div class="title">
<b>{{ $description | markdownify }}</b>
</div><div class="content">{{ highlight $command $language "" }}</div></div>