{{$file1 := .Get "file1"}}
{{$author1 := .Get "author1"}}

{{$file2 := .Get "file2"}}
{{$author2 := .Get "author2"}}

{{$file3 := .Get "file3"}}
{{$author3 := .Get "author3"}}

{{ $id := delimit (shuffle (seq 1 9)) "" }}

<svg class="clipped-image illustration" viewBox="0 0 650 650" preserveAspectRatio="xMidYMid slice" width="900" height="900">
<defs>
<clipPath id="clipping-{{$id}}">
<path id="path-{{$id}}" d="M 299.0625 554.929686 L 501.164064 444.726564 C 512.742186 438.398436 522.140628 422.578128 522.140628 409.359372 L 522.140628 191.015628 C 522.140628 177.796872 512.742186 161.976564 501.164064 155.648436 L 299.0625 45.445314 C 287.484372 39.140628 268.6875 39.140628 257.085936 45.445314 L 55.007814 155.648436 C 43.40625 161.976564 34.007814 177.796872 34.007814 191.015628 L 34.007814 409.359372 C 34.007814 422.578128 43.40625 438.398436 55.007814 444.726564 L 257.085936 554.929686 C 268.6875 561.234372 287.484372 561.234372 299.0625 554.929686 Z M 299.0625 554.929686" />
</clipPath>
<path id="text-path-{{$id}}-1" transform="scale(0.52) translate(350, 0)" d="M 299.0625 554.929686 L 501.164064 444.726564 C 512.742186 438.398436 522.140628 422.578128 522.140628 409.359372 L 522.140628 191.015628 C 522.140628 177.796872 512.742186 161.976564 501.164064 155.648436 L 299.0625 45.445314 C 287.484372 39.140628 268.6875 39.140628 257.085936 45.445314 L 55.007814 155.648436 C 43.40625 161.976564 34.007814 177.796872 34.007814 191.015628 L 34.007814 409.359372 C 34.007814 422.578128 43.40625 438.398436 55.007814 444.726564 L 257.085936 554.929686 C 268.6875 561.234372 287.484372 561.234372 299.0625 554.929686 Z M 299.0625 554.929686" />
<path id="text-path-{{$id}}-2" transform="scale(0.51) translate(0, 700)" d="M 299.0625 554.929686 L 501.164064 444.726564 C 512.742186 438.398436 522.140628 422.578128 522.140628 409.359372 L 522.140628 191.015628 C 522.140628 177.796872 512.742186 161.976564 501.164064 155.648436 L 299.0625 45.445314 C 287.484372 39.140628 268.6875 39.140628 257.085936 45.445314 L 55.007814 155.648436 C 43.40625 161.976564 34.007814 177.796872 34.007814 191.015628 L 34.007814 409.359372 C 34.007814 422.578128 43.40625 438.398436 55.007814 444.726564 L 257.085936 554.929686 C 268.6875 561.234372 287.484372 561.234372 299.0625 554.929686 Z M 299.0625 554.929686" />
<path id="text-path-{{$id}}-3" transform="scale(0.51) translate(690, 700)" d="M 299.0625 554.929686 L 501.164064 444.726564 C 512.742186 438.398436 522.140628 422.578128 522.140628 409.359372 L 522.140628 191.015628 C 522.140628 177.796872 512.742186 161.976564 501.164064 155.648436 L 299.0625 45.445314 C 287.484372 39.140628 268.6875 39.140628 257.085936 45.445314 L 55.007814 155.648436 C 43.40625 161.976564 34.007814 177.796872 34.007814 191.015628 L 34.007814 409.359372 C 34.007814 422.578128 43.40625 438.398436 55.007814 444.726564 L 257.085936 554.929686 C 268.6875 561.234372 287.484372 561.234372 299.0625 554.929686 Z M 299.0625 554.929686" />
</defs>
<image transform="scale(0.50) translate(350, 0)" class="image-clip-src" style="clip-path: url(#clipping-{{$id}});" href="{{$file1}}" preserveAspectRatio="xMidYMid slice" overflow="visible" />
<image transform="scale(0.50) translate(0, 700)" class="image-clip-src" style="clip-path: url(#clipping-{{$id}});" href="{{$file2}}" preserveAspectRatio="xMidYMid slice" overflow="visible" />
<image transform="scale(0.50) translate(690, 700)" class="image-clip-src" style="clip-path: url(#clipping-{{$id}});" href="{{$file3}}" preserveAspectRatio="xMidYMid slice" overflow="visible" />

<g  stroke-width="2" stroke="#EAEAEA">
<line x1="310" y1="300" x2="310" y2="400" />
<line x1="310" y1="400" x2="271.6977778440511" y2="432.139380484327" />
<line x1="310" y1="400" x2="348.30222215594887" y2="432.139380484327" />
</g>
<text>  
<textPath fill="white" font-size="12px" startOffset="20" href="#text-path-{{$id}}-1">{{$author1 | safeHTML}}</textPath>  
<textPath fill="white" font-size="12px" startOffset="20" href="#text-path-{{$id}}-2">{{$author2 | safeHTML}}</textPath>  
<textPath fill="white" font-size="12px" startOffset="20" href="#text-path-{{$id}}-3">{{$author3 | safeHTML}}</textPath>  
</text>
</svg>
    