body {
    background-color: white !important;
    background: white !important;
    height: 200mm;
    width: 280mm;
}

.reveal {
    background-color: unset !important;
}


@media print {
    body {
        background-color: white !important;
        height: 210mm;
        width: 290mm;
    }

    .slide {
        border: 1px solid black;
        width: 280cm;
        height: 200cm;
        margin: 0;
      }
}

/*.reveal {
    color: black !important;
}
.pdf-page {
    border: 1px solid black !important;
    margin: 0 !important;
}*/
.print-pdf .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
}