@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

@font-face {font-family: Sans Forgetica Regular; src: local('Sans Forgetica Regular'), url('/css/fonts/SansForgetica-Regular.otf') format('otf'); }


:root {
  --foreground-color-primary: rgb(230, 230, 230);
  --foreground-color-primary-strong: rgb(250, 250, 250);
  --foreground-color-secondary: rgb(203, 203, 203);
  /*--foreground-color-highlight: rgb(220, 0, 19);*/
  --foreground-color-highlight-secondary: rgb(238, 27, 72);
  --foreground-color-highlight: rgb(239, 123, 66);
  --background-color: rgb(30, 30, 30);
  --background-color-secondary: rgb(70, 70, 70);
  --background-color-secondary-light: rgba(70, 70, 70, 0.3);
  --snippet-background-color: rgba(255, 255, 255, 0.02);
  --snippet-selector-color: rgb(100, 100, 100);
  --line-color: rgba(45, 45, 45);
}

.code-highlighted {
  display: inline-block;
  padding: .25em 0;
  border-bottom: 4px solid var(--foreground-color-highlight-secondary);
  /*color: #ffffff;*/
}

.grayed {
  opacity: 0.3;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.columns-stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.column.centered {
  justify-content: center;
}

.stretched {
  width: 90%;
}

.centered {
  text-align: center !important;
}

.stretched .column:not(:last-child) {
  border-right: 1px solid var(--foreground-color-secondary);
}

.reveal {
  background-color: var(--background-color) !important;
  font-family: 'Inter', sans-serif !important;
  font-size: 36px !important;
}

code {
  font-family: 'Source Code Pro', monospace !important;
}


.reveal section img {
  background: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Lato', sans-serif !important;
  color: var(--foreground-color-primary) !important;
}

.reveal h2 {
  margin-bottom: 80px !important;
}

.reveal h4 {
  margin-bottom: 56px !important;
  text-transform: unset !important;
  font-size: 48px !important;
}


.reveal del {
  text-decoration-color: var(--foreground-color-highlight);
}

.reveal a {
  color:var(--foreground-color-primary) !important;
}

.reveal a:hover {
  color: var(--foreground-color-primary-strong) !important;
}

.reveal .slides {
  height: 100%!important;
  top: 0!important;
  margin-top: 0!important;
}

.reveal .slides>section {
  min-height: 90%!important;
}

.reveal .slides>section>section {
  min-height: 100%!important;
}

.reveal .slides > section, .reveal .slides > section > section {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  align-items: center !important;
  color: var(--foreground-color-primary) !important;
}

section > h2 {
  /*position: absolute !important;
  top: 40px !important;*/
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}
.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
  min-height: 770px !important;
  /*position: relative !important;*/
}


.reveal ul {
  list-style-type: '– ' !important;
}

.pdf-page {
  border: 1px solid white;
  margin: 0;
}


@media print {
  .pdf-page {
    border: unset;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
  }


}

.print-pdf .reveal.slide .slides .pdf-page section.present {
  position: unset !important;
}


.print-pdf .reveal.slide .slides .pdf-page {
  display: flex;
  align-items: center;
}

.snippet .highlight {
  max-height: calc( var(--vh, 1vh) * 75 );
  overflow: auto;
}

.snippet pre {
  overflow: unset !important;
  width: 100% !important;
  margin: unset !important;
  font-size: 0.35em !important;
  background-color: var(--background-color-secondary-light) !important;
}

.snippet pre code {
    max-height: unset !important;
    overflow: unset !important;
    font-size: 16px !important;
}

.reveal pre {
  width: unset !important;
  margin: unset !important;
}

section div.highlight {
  font-size: 38px;
}


.illustration {
  max-height: 450px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.illustration + .title {
  position: relative;
  font-size: 10px;
  margin-top: -20px;
  display: block;
  transform: rotate(-27.88deg) translate(5%, -300%);
}


.image-clip-src {
  width: 100%;
  height: 100%;
}


div .sectionbreak {
margin: auto;
}

li {
  margin: 16px 0 !important;
}


.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  margin-left: 80px !important;
}

.reveal ul ul li {
  margin-top: 8px !important;
  font-size: 70%;
}


strong strong {
  color:var(--foreground-color-highlight) !important;
}


.important {
  color:var(--foreground-color-highlight) !important;
}


.column .tab {
  width: 95%;
  margin-bottom: 12px;
}

.tab {
  width: 70%;
  margin-bottom: 48px;
}

 /* Style the tab */
 .buttons {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.buttons button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 8px;
  transition: 0.3s;
  color: var(--snippet-selector-color);
  font-size: 12px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom-color: var(--snippet-selector-color);
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom-color: var(--snippet-selector-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-color: var(--snippet-selector-color) !important;
  border-width: 0.5px;
  border: 1px solid;
  background-color: var(--snippet-background-color);
} 

.tabcontent.active {
  display: block;
}


.reveal blockquote {
  text-align: left;
  font-size: 28px;
  max-width: 100% !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

blockquote .author {
  width: 100%;
  text-align: right;
  font-size: 24px;
}

.content {
  color: var(--foreground-color-secondary) !important;
}

p:empty {display:none;}

.reveal .controls, .reveal .progress {
  color: var(--background-color-secondary) !important;
}


.credits {
  font-size: small;
}

.reveal .bracket {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.reveal .bracket .title {
  text-align: right;
  align-self: center;
  width: 50%;
  margin-right: 56px;
}

.reveal .bracket .content {
  text-align: left;
  width: 50%;
  border-left: 1px solid var(--foreground-color-primary-strong);
  font-size: 32px;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.reveal .bracket .content p {
  margin: 0;
}

.reveal .bracket .content div.highlight {
  margin-bottom: 8px;
}

.reveal .bracket .content ul li {
  margin: unset !important;
}

.reveal .subtitle {
  margin-top: 72px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif !important;
  color: var(--foreground-color-highlight) !important;
  font-size: 24px;
}

.reveal .vspace {
  margin-bottom: 28px;
  margin-top: 28px;
  height: 1px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--line-color);
}


.reveal img.bottom-left {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.reveal img.top-right {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.reveal img.bottom-right {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 0px;
}


p.green {
  color: rgb(50, 230, 19);
}

p.red {
  color: var(--foreground-color-highlight);
}

.block {
  text-align: left;
}

.small {
  font-size: 80%;
}

.tiny {
  font-size: 60%;
}

.flow {
  display: flex;
}


li code {
  background-color: unset !important;
  font-size: unset ! important;
  background-color: var(--background-color-secondary-light) !important;
}


.floating-block {
  position: absolute;
}


.slide-number {
  bottom: unset !important;
  top: 8px !important;
  font-size: 16px !important;
  background-color: unset !important;
}


.return-button {
  top: 8px;
  left: 8px;
  position: absolute;
  width: 24px;
  height: 24px;
}

/*section:after {
  content: url(../img/logo-shodo-studio.svg);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}*/